.listitem {
  margin: 0;
  width: 100%;
  padding: 1em 0;
  overflow: hidden;
  h2, p {
    padding-left: .7em;
  }
  image {
    max-width: 90%;
  }
}
.listpagination {
  padding: 1em;
  font-family: FontAwesome;
  &:before {content: "\f0a8";}
  &:after {content: "\f0a9";}
}
#pagination {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  a {
    color: #fff;
  }
}
