nav {
  a {
    color: #fff;
  }
  background-color: #111;
  display: block;
  width: 100%;
  height: 4em;
  position: fixed;
  ul {
    text-align: right;
    width: 100%;
    position: relative;
    top: -.4em;
    @media screen and (max-width: 800px) {
      background: inherit;
      position: initial;
    }
    li {
      display: inline;
      margin-right: .7em;
      @media screen and (max-width: 800px) {
        display: block;
        text-align: right;
        margin: 0 .5em 0;
        line-height: 1.5em;
        &:last-child {
          padding-bottom: 1em;
        }
      }
    }
  }
}

.sub-nav {
  transition: all .3s ease-in-out 0s, transform 0s linear .3s;
  margin-right: 1em;
  @media screen and (max-width: 800px) {
    transform: translateY(-8.5em);
  }
}

.icon {
  margin-right: .15em;
  font: 2em "FontAwesome";
  visibility: hidden;
  @media screen and (max-width: 800px) {
    visibility: visible;
  }
  &:after {
    content: "\f104";
  }
}

@media screen and (max-width: 800px) {
  .sub-nav-parent {
    display: none;
  }
  .sub-nav-parent.responsive .sub-nav {
    transform: translateY(0%);
    transition: all .3s ease-in-out 0s, transform 0s linear .3s;
    display: initial;
  }
}
