nav {
  background: #000;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  }
  a {
    color: #fff;
  }
  ul {
    float: right;
    position: relative;
    top: .25em;
    li {
      display: inline;
      right: .2em;
      margin-right: 1em;
      &:not(:first-child) {
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }

    // icon
    .icon {
      display: none;
      font: 2em "FontAwesome";
      float: right;
      &:after {
        content: "\f053";
      }
      @media screen and (max-width: 600px) {
        display: inline;
        margin: 0 .65em;
      }
    // end icon

  }
}
