/* universal */

// universal fonts
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Raleway:400,700,900i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$header: 'Raleway', sans-serif;
$body: 'PT Serif', serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px/1.2em $body;
}

h1 {
    font: 3em $header;
    text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: $header;
  font-weight: bold;
}

.container {
  max-width: 85%;
  position: relative;
  margin: 0 auto;
}

/* navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    &:hover {
      background-color: #111;
      color: #fff;
    }
  }
}

.topnav a.icon {
  display: none;
  font-size: 25px;
  font-family: FontAwesome;
  &:after {
    content: "\f047";
  }
}

.topnav-links {
  float: right;
}

// navigation media queries
@media screen and (max-width: 600px) {
  .topnav-links {
    float: none;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    &:last-child::after {
      content: "\f0b2";
    }
  }
}
