/* universal */

// universal fonts
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Raleway:400,700,900i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'navigation';

$header: 'Raleway', sans-serif;
$body: 'PT Serif', serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px/1.2em $body;
}

h1 {
    font: 3em $header;
    text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: $header;
  font-weight: bold;
}

footer {
  position: absolute;
  display: block;
  height: 50px;
  margin: 0;
  padding: 1em 0;
  color: #ddd;
  &:before {
    content: '';
    display: block;
    clear: both;
  }
  small {
    float: left;
    position: relative;
  }
}
.container {
  max-width: 85%;
  padding: 0;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}

#logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 3em;
  top: .5em;
  left: 2em;
  position: absolute;
  @media screen and (max-width: 600px) {
    font-size: 1.2rem;
    top: 1.2em;
    left: 1em;
  }
}
