<div class="gallery">
  <h1 class="title">The Gallery</h1>
  <p>
    These are things I draw, and see, and hear.
  </p>

  <div class="gallery image1">
    <figure>
      <%= image_tag("gallery/_Storyboard04.jpg", class: "gallery__img", alt: "") %>
    </figure>
    <div class="gallery__overlay">
      <h2 class="gallery__title">Storyboard Sketch</h2>
      <a class="gallery__link" href="#">View</a>
    </div>
  </div>

  <div class="gallery image2">
    <figure>
      <%= image_tag("gallery/face1.jpeg", class: "gallery__img", alt: "")  %>
    </figure>
    <div class="gallery__overlay">
      <h2 class="gallery__title">Face Sketch</h2>
      <a class="gallery__link" href="#">View</a>
    </div>
  </div>

  <div class="gallery image3">
    <figure>
      <%= image_tag("gallery/Miranda.jpg", class: "gallery_img", alt: "") %>
    </figure>
    <div class="gallery__overlay">
      <h2 class="gallery__title">Miranda</h2>
      <a class="gallery__link" href="#">View</a>
    </div>
  </div>
</div>
